
@model IEnumerable<Person>

@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<style>
    p {
        font: bold, 12px;
    }
</style>
<body>
    <h1>Persons</h1>
    <div>
        <input id="numberOfElement" type="text" />
        <input id="changeName" type="text" />


        <button id="changeBtn"> ujPDATE</button>



        <button id="addNewBtn" > add </button>
        <button id="deleteBtn"> delete </button>

        

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3> Id</h3>
</div>
            <div class="col-sm">
                <h3> First Name</h3>
</div>
            <div class="col-sm">
                <h3>Last Name</h3>
</div>
            <div class="col-sm">
                <h3> Age</h3>
</div>
        </div>
    </div>
    @{
        foreach (Person ch in Model)
        {

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @ch.id
                </div>
                <div class="col-sm">
                    @ch.firstName
                </div>
                <div class="col-sm">
                    @ch.lastName
                </div>
                <div class="col-sm">
                    @ch.age
                </div>
            </div>
        </div>
        }
    }

</body>
</html>
@*--//https://getbootstrap.com/docs/4.4/layout/grid/*@
